[MASTER]
ignore=venv,.venv

[MESSAGES CONTROL]
disable=logging-fstring-interpolation,missing-function-docstring,too-few-public-methods,invalid-name

[FORMAT]
max-line-length=100

[REPORTS]
output-format=text
