name: Lint Markdown

on:
  push:
    branches: [ main ]
    paths:
      - '**/docs/*.{md,MD}'
  pull_request:
    branches: [ main ]
    paths:
      - '**/docs/*.{md,MD}'

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Lint Markdown
        uses: DavidAnson/markdownlint-cli2-action@v15
        with:
          globs: |
            '**/docs/*.{md,MD}'
            '!**/node_modules/**'
