name: Python Linter

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  python-lint-capture_only:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r ./capture_only/offline/requirements-dev.txt

      - name: Run linter script
        run: |
          chmod +x ./scripts/lint.sh
          ./scripts/python_pylint.sh
